<launch>
    <!-- 
        The robot can be controlled either through CAN bus or UART port. Make sure the hardware interface is set up correctly before attempting to connect to the robot.
        
        You only need to specify the port name, such as "can0", "/dev/ttyUSB0". The port should operate with the following configuration:        
        * CAN bus: 500k
        * UART: 115200, Parity None, 8-bit Data, 1 Stop Bit 
    -->
    <arg name="port_name" default="can0" />
    <!-- <arg name="port_name" default="/dev/ttyUSB0" /> -->
    <arg name="simulated_robot" default="false" />

    <node name="scout_base_node" pkg="scout_base" type="scout_base_node" output="screen">
        <param name="port_name" type="string" value="$(arg port_name)" />
        <param name="simulated_robot" type="bool" value="$(arg simulated_robot)" />

        <param name="odom_frame" type="string" value="odom" />
        <param name="base_frame" type="string" value="base_link" />
    </node>

    <!-- 相机绑定到scout mini的base_link上，在此之前要先启动深度相机 -->
    <!-- 启动相机：在scout工作空间下 roslaunch realsense2_camera rs_camera.launch-->
    <!-- 配置TF树，否则相机无法在RTAB-Map中正常使用（frame doesn't exist） 
        pkg：包名，tf
        type：类型，static_transform_publisher
        name：名称，自定，便于理解
        arg：tf参数， x y z yaw pitch roll frame_id child_frame_id period_in_ms.
        1.x y z 分别代表着相应轴的平移，单位是 米。
        2.yaw pitch roll 分别代表着绕z y x 三个轴的转动，单位是 弧度。
        3.frame_id 为坐标系变换中的父坐标系， child_frame_id为坐标系变换中的子坐标系。
        4.period_in_ms 为发布频率，单位为 毫秒。通常取100。一毫秒为一秒的千分之一，100毫秒即为0.1秒，也就是10Hz。20毫秒即50Hz-->
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0.1 0.0 0.25 0.0 0.0 0.0 /base_link /camera_link 20" /> -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" 
        args="0.075 0.0 0.3255 0.0 0.0 0.0 /base_link /camera_link 20" />

    <!-- 生成伪激光信息，因为move_base导航必须要有激光信息-->
    <!-- <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
        <remap from="image" to="/camera/depth/image_rect_raw"/>
        <remap from="camera_info" to="/camera/depth/camera_info"/>
        <remap from="scan" to="/scan"/>
        <param name="range_max" type="double" value="4"/>
        <param name="output_frame_id" type="string" value="fake_laser"/>
    </node> -->
    <!-- 开启 rplidar A1激光雷达 -->
    <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
        <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
        <param name="serial_baudrate" type="int" value="115200"/>
        <param name="frame_id" type="string" value="laser"/>
        <param name="inverted" type="bool" value="false"/>
        <param name="angle_compensate" type="bool" value="true"/>
    </node>

    <!-- 开启 D435 -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

    <!-- 伪激光信息绑定到深度相机的camera_link上 -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="camera_link_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /camera_link /fake_laser 20" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="camera_link_to_laser" 
        args="0.175 0.0 0.07785 0.0 0.0 0.0 /camera_link /laser 20" /> -->
    <node pkg="tf" type="static_transform_publisher" name="camera_link_to_laser" 
        args="0.175 0.0 0.07785 3.1415926 0.0 0.0 /camera_link /laser 20" />        
</launch>
