<!-- 用于测试rviz配置是否正常 -->
<launch>
  <arg name="rviz_cfg" default="$(find scout_description)/rviz/navi_rgbd.rviz" />

  <!-- Visualization RVIZ -->
  <node  pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)"/>
  <node  pkg="nodelet" type="nodelet" name="points_xyzrgb" args="standalone rtabmap_ros/point_cloud_xyzrgb" output="screen">
    <!-- <remap from="rgbd_image" to="$(arg rgbd_topic_relay)"/> -->
    <!-- <remap from="cloud" to="voxel_cloud" /> -->

    <param name="decimation" type="double" value="4"/>
    <param name="voxel_size" type="double" value="0.0"/>
    <param name="approx_sync" type="bool" value="true"/>
  </node>

</launch>
